

.holder {
    display: flex;
    flex-wrap: wrap;
    border: 5px solid black;
    border-radius: 100px 100px 0 0;
}

.item {
    flex-grow: 1;
    background-color: aqua;
    color: black;
    height: 150px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.item:nth-child(1) {
    background-color: red;
    order: -3;
    flex-basis: calc(100%/2);
    border-radius: 100px 0 0 0;
}

.item:nth-child(2) {
    background-color: blue;
    order: 1;
}

.item:nth-child(3) {
    background-color: violet;
    order: -1;
    
}

.item:nth-child(4) {
    background-color: green;
    order: 2;
    
}

.item:nth-child(5) {
    background-color: yellow;
    order: -2;
    flex-basis: calc(100%/2);
    border-radius: 0 100px 0 0;
}


    
